## 1. Carga de librerias

In [ ]:
! python -m pip install --upgrade pip
! pip install keras
! pip install tensorflow

In [9]:
### General
import numpy as np
import matplotlib as plt
import pandas as pd
from sklearn.preprocessing import normalize
from sklearn.model_selection import KFold
from sklearn.multioutput import MultiOutputRegressor
from sklearn.model_selection import cross_validate
import math

### Error
## ECM
from sklearn.metrics import mean_squared_error
## Coeficiente de determinacion
from sklearn.metrics import r2_score
## Varianza explicada
from sklearn.metrics import explained_variance_score

### Regresión polinomial múltiple
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

### Ventana de Parzen
from scipy.spatial import distance

### Redes Neuronales Artificiales
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor

### Random Forest
from sklearn.ensemble import RandomForestRegressor

### Vectores de soporte
from sklearn import svm

Using TensorFlow backend.

## 2. Carga de la base de datos

#### Características: 
- Input variables:
   ##### Datos del cliente del banco:
   1 - age (numérica)
   2 - job : tipo de empleo (categórica: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                       "blue-collar","self-employed","retired","technician","services") 
   3 - marital : estado civil (categórica: "married","divorced","single"; nota: "divorced" aplica para divorciado o viudo)
   4 - education (categorical: "unknown","secondary","primary","tertiary")
   5 - default: has credit in default? (binary: "yes","no")
   6 - balance: average yearly balance, in euros (numeric) 
   7 - housing: has housing loan? (binary: "yes","no")
   8 - loan: has personal loan? (binary: "yes","no")
   ##### related with the last contact of the current campaign:
   9 - contact: contact communication type (categorical: "unknown","telephone","cellular") 
  10 - day: last contact day of the month (numeric)
  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
  12 - duration: last contact duration, in seconds (numeric)
   ##### other attributes:
  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)
  15 - previous: number of contacts performed before this campaign and for this client (numeric)
  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

  Output variable (desired target):
  17 - y - has the client subscribed a term deposit? (binary: "yes","no")

8. Missing Attribute Values: None

In [10]:
data = pd.read_csv("data/bank.csv", delimiter=";",header='infer')
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no